{% load static %}
{% load define_select %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Explorador de Archivos</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

	<!-- Sidebar -->
	<section id="sidebar">

		<div class="inner">
			<nav>
				<ul>
					<li><a href="../../../index/inicio/{{ predict }}">Inicio</a></li>
				</ul>
				<ul>
					<li><a href="../../../index/visualizacion/{{ predict }}">Graficas dinámicas</a></li>
				</ul>
				<ul>
					<li><a href="../../../index/prediccion1/{{ predict }}">Predicción niños</a></li>
				</ul>
				<ul>
					<li><a href="../../../index/prediccion2/{{ predict }}">Predicción abuelos</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<!--
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<div>
					 <input name="Identificacion" type="text" disabled="disabled" id="Identificacion" value="{{ RutaTest }}" />
								<button onclick="" type="button" id="button-addon1"><</button>
								<button onclick="" type="button" id="button-addon1">Explorar</button>

					<p></p>
				</div>
			</div>
		</section> -->

		<section id="two" class="wrapper style3 fade-up">
			<div class="inner">
				<!-- INICIO -->
				{% if current == 'inicio' %}
				{% include '01_00_build_models.html' %}

				{% endif %}

				<!-- VISUALIZACION -->
				{% if current == 'visualizacion' %}
				{% include 'piramide_poblacion.html' %}
				<br>
				{% include 'comparacion_satisfaccion.html' %}
				{% endif %}

				<!-- PREDICCION NIÑOS -->
				{% if current == 'prediccion1' %}
				{% if predict != '-' %}
				<h1>El nivel de satisfacción es: <span><b>{{ predict }}</b></span></h1>
				{% endif %}
				{% include 'predictNinios.html' %}
				{% endif %}

				<!-- PREDICCION BUELOS-->
				{% if current == 'prediccion2' %}
				{% if predict != '-' %}
				<h1>El nivel de satisfacción es: <span><b>{{ predict }}</b></span></h1>
				{% endif %}
				{% include 'predictAbuelos.html' %}
				{% endif %}
			</div>
		</section>
	</div>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'assets/js/skel.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>