{% load static %}
{% load define_select %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Explorador de Archivos</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body>

	<!-- Sidebar -->
	<section id="sidebar">

		<div class="inner">
			<nav>
				<ul>
					<li><a href="../../../index/inicio/{{ predict }}">Inicio</a></li>
				</ul>
				<ul>
					<li><a href="../../../index/visualizacion/{{ predict }}">Visualización</a></li>
				</ul>
				<ul>
					<li><a href="../../../index/estudio/{{ predict }}">Estudio estadístico</a></li>
				</ul>
				<ul>
					<li><a href="../../../index/prediccion/{{ predict }}">Predicción</a></li>
				</ul>
			</nav>
			<a href="#" class="button scrolly">BOTÓN</a>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<!--
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<div>
					 <input name="Identificacion" type="text" disabled="disabled" id="Identificacion" value="{{ RutaTest }}" />
								<button onclick="" type="button" id="button-addon1"><</button>
								<button onclick="" type="button" id="button-addon1">Explorar</button>

					<p></p>
				</div>
			</div>
		</section> -->

		<section id="two" class="wrapper style3 fade-up">
			<div class="inner">
				<!-- INICIO -->
				{% if current == 'inicio' %}
				<h2>Aquí va el trabajo escrito</h2>
				<h2>{{ predict }}</h2>

				{% endif %}

				<!-- VISUALIZACION -->
				{% if current == 'visualizacion' %}
				{% include 'plotly_graph.html' %}
				<br>
				{% include 'piramide_poblacion.html' %}
				<br>
				{% include 'comparacion_satisfaccion.html' %}
				{% endif %}

				<!-- ESTUDIO ESTADISTICO -->
				{% if current == 'estudio' %}

				{% endif %}
				<!-- PREDICCION -->
				{% if current == 'prediccion' %}
				<form action="/predictAbue/" method="GET" name="Predecir" id="Predecir">

					<div class="field complete">
						<label>Sexo</label>
						<div class="select-wrapper">
							<select name="abuelo" size="1" id="abuelo" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">Hombre</option>
								<option value="2">Mujer</option>
							</select>
						</div>
					</div>
					<div class="field complete">
						<label>¿Es mayor de 60 años?</label>
						<div class="select-wrapper">
							<select name="abuelo" size="1" id="abuelo" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">Sí</option>
								<option value="0">No</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label>¿Cuántos años cumplidos tiene?</label>
						<input name="anios" type="text" id="anios" required="required" style="width: 30%;"/>
					</div>
					
					<div class="field complete">
						<label> En general, ¿Qué tan satisfecho(a) se siente con su ingreso actualmente?</label>
						<div class="select-wrapper">
							<select name="ingreso" size="1" id="ingreso" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Totalmente insatisfecho(a)</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Totalmente satisfecho(a)</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> En general, ¿Qué tan satisfecho(a) se siente con su salud actualmente?</label>
						<div class="select-wrapper">
							<select name="salud" size="1" id="salud" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Totalmente insatisfecho(a)</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Totalmente satisfecho(a)</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> En general, ¿Qué tan satisfecho(a) se siente con su nivel de seguridad actualmente?</label>
						<div class="select-wrapper">
							<select name="seguridad" size="1" id="seguridad" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Totalmente insatisfecho(a)</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Totalmente satisfecho(a)</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> En general, ¿Qué tan satisfecho(a) se siente con su trabajo/actividad actualmente?</label>
						<div class="select-wrapper">
							<select name="trabajo" size="1" id="trabajo" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Totalmente insatisfecho(a)</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Totalmente satisfecho(a)</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> En general, ¿Qué tan satisfecho/a se siente con su tiempo libre?</label>
						<div class="select-wrapper">
							<select name="libre" size="1" id="libre" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Totalmente insatisfecho(a)</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Totalmente satisfecho(a)</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> ¿Qué tan feliz se sintió el día de ayer?</label>
						<div class="select-wrapper">
							<select name="feliz" size="1" id="feliz" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Para nada feliz</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Todo el tiempo feliz</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> ¿Qué tan preocupado(a) se sintió el día de ayer?</label>
						<div class="select-wrapper">
							<select name="preocupado" size="1" id="preocupado" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Para nada preocupado(a)</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Todo el tiempo preocupado(a)</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> ¿Qué tan triste se sintió el día de ayer?</label>
						<div class="select-wrapper">
							<select name="triste" size="1" id="triste" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Para nada triste</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Todo el tiempo triste</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> ¿Qué tanto considera que las cosas que hace en su vida valen la pena?</label>
						<div class="select-wrapper">
							<select name="worth" size="1" id="worth" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - No valen la pena</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Valen totalmente la pena</option>
							</select>
						</div>
					</div>

					<div class="field complete">
						<label> ¿En cuál escalón diría usted que se encuentra parado(a) en este momento?</label>
						<div class="select-wrapper">
							<select name="vida" size="1" id="vida" required="required" style="width: 30%;">
								<option value="">Seleccione</option>
								<option value="1">0 - Peor vida</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10 - Mejor vida</option>
							</select>
						</div>
					</div>
					<br>
					<center>
						<input type="submit" name="Predecir" value="Predecir" tabindex="1" class="special">
					</center>
				</form>
				{% endif %}

			</div>
		</section>
	</div>
	<!-- Scripts -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'assets/js/skel.min.js' %}"></script>
	<script src="{% static 'assets/js/util.js' %}"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>