<!DOCTYPE html>

<body>
    <form action="/predictNinios/" method="GET" name="Predecir" id="Predecir">

        <div class="field complete">
            <label>¿Quién cuida al niño la mayor parte del tiempo?</label>
            <div class="select-wrapper">
                <select name="cuidador" size="1" id="cuidador" required="required" style="width: 30%;">
                    <option value="">Seleccione</option>
                    <option value="1">Asiste a un hogar comunitario, jardín, centro de desarrollo infantil o colegio</option>
                    <option value="2">Con su padre o madre en la casa</option>
                    <option value="3">Con su padre o madre en el trabajo</option>
                    <option value="4">Con empleado/a o niñero/a en la casa</option>
                    <option value="5">Al cuidado de un/a pariente de 18 años o más</option>
                    <option value="6">Al cuidado de un/a pariente menor de 18 años</option>
                    <option value="7">En casa solo</option>
                    <option value="8">Otro</option>
                </select>
            </div>
        </div>
        <br>
        <h3>Cada actividad se refiere a cuántas veces realiza la actividad correspondiente.</h3>
        
        <div class="field complete">
            <label> Leer:</label>
            <div class="select-wrapper">
                <select name="leer" size="1" id="leer" required="required" style="width: 30%;">
                    <option value="">Seleccione</option>
                    <option value="0">Ningún día</option>
                    <option value="1">Todos los días</option>
                    <option value="2">Al menos una vez a la semana pero no cada día</option>
                    <option value="3">Al menos una vez al mes, pero no cada semana</option>
                    <option value="4">Al menos una vez al mes, pero no todos los meses</option>
                </select>
            </div>
        </div>

        <div class="field complete">
            <label> Jugar:</label>
            <div class="select-wrapper">
                <select name="jugar" size="1" id="jugar" required="required" style="width: 30%;">
                    <option value="">Seleccione</option>
                    <option value="0">Ningún día</option>
                    <option value="1">Todos los días</option>
                    <option value="2">Al menos una vez a la semana pero no cada día</option>
                    <option value="3">Al menos una vez al mes, pero no cada semana</option>
                    <option value="4">Al menos una vez al mes, pero no todos los meses</option>
                </select>
            </div>
        </div>

        <div class="field complete">
            <label> Salir:</label>
            <div class="select-wrapper">
                <select name="salir" size="1" id="salir" required="required" style="width: 30%;">
                    <option value="">Seleccione</option>
                    <option value="0">Ningún día</option>
                    <option value="1">Todos los días</option>
                    <option value="2">Al menos una vez a la semana pero no cada día</option>
                    <option value="3">Al menos una vez al mes, pero no cada semana</option>
                    <option value="4">Al menos una vez al mes, pero no todos los meses</option>
                </select>
            </div>
        </div>

        <div class="field complete">
            <label> VerTV:</label>
            <div class="select-wrapper">
                <select name="vertv" size="1" id="vertv" required="required" style="width: 30%;">
                    <option value="">Seleccione</option>
                    <option value="0">Ningún día</option>
                    <option value="1">Todos los días</option>
                    <option value="2">Al menos una vez a la semana pero no cada día</option>
                    <option value="3">Al menos una vez al mes, pero no cada semana</option>
                    <option value="4">Al menos una vez al mes, pero no todos los meses</option>
                </select>
            </div>
        </div>

        <div class="field complete">
            <label> Deporte:</label>
            <div class="select-wrapper">
                <select name="deporte" size="1" id="deporte" required="required" style="width: 30%;">
                    <option value="">Seleccione</option>
                    <option value="0">Ningún día</option>
                    <option value="1">Todos los días</option>
                    <option value="2">Al menos una vez a la semana pero no cada día</option>
                    <option value="3">Al menos una vez al mes, pero no cada semana</option>
                    <option value="4">Al menos una vez al mes, pero no todos los meses</option>
                </select>
            </div>
        </div>

        <div class="field complete">
            <label> Dispositivos Electrónicos:</label>
            <div class="select-wrapper">
                <select name="dispositivos" size="1" id="dispositivos" required="required" style="width: 30%;">
                    <option value="">Seleccione</option>
                    <option value="0">Ningún día</option>
                    <option value="1">Todos los días</option>
                    <option value="2">Al menos una vez a la semana pero no cada día</option>
                    <option value="3">Al menos una vez al mes, pero no cada semana</option>
                    <option value="4">Al menos una vez al mes, pero no todos los meses</option>
                </select>
            </div>
        </div>

        <br>
        <center>
            <input type="submit" name="Predecir" value="Predecir" tabindex="1" class="special">
        </center>
    </form>

</body>

</html>